.hContainer{
    padding: 0;
    margin: auto;
    max-width: 1000px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

.hContainer a {
    background-color: #3f525c;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: 0.5rem auto;
    box-sizing: border-box;
  
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }

.hContainer a:hover {
    background-color: black;
  }

.hContainer li, .heroeSearch li{
    list-style-type: none;
    display: grid;
}

.heroeSearch label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
  
  }

#search {
    padding: .5rem;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;

  }

.search-result {
    border-top: 1px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    font-size: 1em;
    width: 12em;
    padding: .2em .4em;
    background-color: white;
    cursor: pointer;
  }